html, body {
  
  background-image: url("Colour2.jpg");
  margin: 0px;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

span0 {
  font-size: 100px;
  font-family: 'Akronim', cursive;
  color: red;
  font-weight: bold;
}
span1 {
  font-size: 100px;
  font-family: 'Akronim', cursive;
  color: black;
  font-weight: bold;
}


*{
  margin: 0px;
  padding: 0px;
}
.bgimage{
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  background-size: 100%;
  width: 100%;
  height: 100vh;
}
.menu{
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu{
  width: 100%;
  height: 100Px;
  
}

.menu a{
  display: inline-block;
  font-family: 'montserrat', sans-serif ;
  font-size: 15px;
  color: white;
  font-weight: bold;
  line-height: 100px;
  margin-left: 80px;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: left;
  text-decoration: none;
  
}
.menu a:hover{
  color: #00ccff;
}
.text{
  width: 100%;
  margin-top:185px ;
  text-transform: uppercase;
  text-align: center;
  color: white;

}
.text h4{
  font-size: 14px;
  font-family: 'open sans', sans-serif;
}
.text h1{
  font-size: 62px;
  font-family: 'montserrat', sans-serif ;
  font-weight: 700px;
  margin: 14px 0px;
}
.text h3{
  font-size: 15px;
  font-family: 'open sans', sans-serif;
}
.btn{
  background-color: rgba(255,255,255, 0.164);
  color: white;
  font-family: 'montserrat', sans-serif ;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  width: 150px;
  margin-top: 25px;
  border: 3px solid white;
  cursor: pointer;
}
.btn:hover{
  background-color: white;
  color: black;    
}
@media only screen and (max-width: 720px){
  span0  {font-size: 50px;
    position: absolute;
    top: 125px;
    left: 6%;
  		
  }
}
@media only screen and (max-width: 720px){
   span1 {font-size: 50px;
    position: absolute;
    top:125px;
    left: 43%;
  		
  }
}
@media only screen and (max-width: 720px){
  .menu a {
    
    
    
    display: inline-block;
    line-height: 35px;
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
    overflow: hidden;
    padding: 0;
  	margin: 0;
  }
}
@media only screen and (max-width: 720px){
  .menu  {
  margin-left: 0px;

  }}
  @media only screen and (max-width: 720px) {
   .leftmenu h4 {
    line-height: 30px;
    padding-left: 3px;
    }}
